@import "./aside";
@import "./create";

.blog {
  padding: 60px 0 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__style {
    margin-bottom: 50px;
  }

  &__style-title {
    margin-bottom: 16px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__style-item {
    margin-bottom: 12px;
  }

  &__style-link {
    color: inherit;
  }

  &__decor {
    margin-bottom: 50px;
  }

  &__decor-title {
    margin-bottom: 16px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__decor-item {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid rgba($color: #455657, $alpha: 0.5);
    border-radius: 14px;
    cursor: pointer;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    margin-right: 20px;
  }

  &__items {
    max-width: 730px;
  }

  &__item {
    margin-bottom: 80px;
  }

  &__item-img {
    max-width: 730px;
    min-width: 730px;
    height: 415px;
  }

  &__item-info {
    padding: 25px 0 10px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }

  &__item-title {
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 15px;
    text-align: justify;
    word-spacing: 4px;
  }

  &__item-text {
    margin-bottom: 20px;
    color: #5a5a5a;
    text-align: justify;

    &-cut {
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-align: justify;
    }
  }

  &__item-coating {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  &__item-decor {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-top: 10px;
    margin-right: 15px;
    display: inline-block;
    border: 1px solid rgba($color: #455657, $alpha: 0.5);
    border-radius: 14px;
    cursor: pointer;
  }

  &__item-links {
    padding: 40px 0;
    margin-bottom: 30px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
  }
  &__item-link {
    display: flex;
    width: 260px;
  }
  &__item-link-prev,
  &__item-link-next {
    position: relative;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
  }

  &__item-link-prev {
    padding-left: 34px;

    &:hover {
      transform: translateX(-10px);
    }
  }

  &__item-link-next {
    padding-right: 34px;
    text-align: right;

    &:hover {
      transform: translateX(10px);
    }
  }

  &__item-img-prev {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 10px auto 0;
  }

  &__item-img-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 10px;
  }

  &__item-comments {
    margin-bottom: 40px;
  }
  &__item-authorization {
    button {
      margin: 0;
    }
  }
  &__item-nocomments {
    color: #8f8d8d;
    margin-bottom: 30px;
  }

  &__item-authorization-text {
    color: #8f8d8d;
    margin-bottom: 22px;
  }

  &__item-comments-title,
  &__item-authorization-title {
    color: $title;
    @extend %title-font;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__item-comments-item {
    display: flex;
    // justify-content: space-between;
    align-items: start;
    margin-bottom: 50px;
  }

  &__item-comments-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__item-comments-name {
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__item-comments-date {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #a1a1a1;
  }

  &__item-form {
    span {
      margin-bottom: 15px;
    }
  }

  &__item-form-title {
    font-size: 20px;
    line-height: 31px;
    color: $title;
    @extend %title-font;
    margin-bottom: 25px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
  }

  &__list-item {
    margin: 0 6px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }

  &__list-item--active {
    color: $title;
  }

  &__arrow {
    margin: 0 6px;
  }

  &__arrow--disabled {
    opacity: 1;
    pointer-events: none;
  }
}
