.aside {
  width: 350px;
  margin-left: 50px;

  &__form {
    margin-bottom: 50px;
  }

  &__search {
    margin-bottom: 40px;
    position: relative;

    input {
      padding-right: 40px !important;
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 12px;
    cursor: pointer;
  }

  &__style,
  &__coating,
  &__decor {
    margin-bottom: 20px;
  }

  &__style-title,
  &__coating-title,
  &__decor-title {
    margin-bottom: 20px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__decor-title {
    margin-bottom: 10px;
  }

  &__style-items,
  &__coating-items {
    display: flex;
    flex-direction: column;
  }

  &__decor-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__decor-item-lable {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-top: 14px;
    margin-right: 16px;
    display: inline-block;
    border: 1px solid rgba($color: #455657, $alpha: 0.5);
    border-radius: 14px;
    cursor: pointer;

    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }
  &__decor-item-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;

    &:checked + label {
      background-color: #f8f095;
      border: 1px solid rgba($color: #f8f095, $alpha: 1);
      color: $title;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__style-item,
  &__coating-item {
    margin-bottom: 12px;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-1px);
    }

    label {
      margin-left: 5px;
      cursor: pointer;
    }

    input {
      cursor: pointer;
      transform: translateY(1px);

      &:checked + label {
        color: $title;
        font-weight: bold;
      }
    }
  }

  &__button-submit {
    margin-top: 50px;

    button {
      padding: 8px 60px;
      border-radius: 26px;
    }
  }

  &__social {
    display: flex;
  }

  &__social-item {
    margin-right: 10px;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }
  &__social-icon {
    padding: 8px;
  }
}
