.aside {
  width: 350px;
  margin-left: 50px;

  &__form {
    margin-bottom: 50px;
  }

  &__search {
    margin-bottom: 40px;
    position: relative;

    input {
      padding-right: 40px !important;
    }
  }

  &__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 12px;
    cursor: pointer;
  }

  &__style,
  &__coating,
  &__decor {
    margin-bottom: 20px;
    position: relative;
  }

  &__style-title,
  &__coating-title,
  &__decor-title {
    margin-bottom: 20px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__decor-title {
    margin-bottom: 10px;
  }

  &__style-select {
    -webkit-appearance: none;
    padding: 6px 10px 6px 18px;
    width: 100%;
    border: 1px solid rgba($title, $alpha: 0.7);
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.25 ease-in-out;

    &:required:invalid {
      color: #5a667f;
    }

    &:focus {
      outline: none;
      border-color: #0077ff;
      box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
    }

    &:hover {
      stroke: #0077ff;
    }
  }

  &__style-arrow {
    position: absolute;
    z-index: -1;
    transform: rotate(-90deg);
    bottom: 11px;
    right: 14px;
    opacity: 0.5;
  }

  &__style-items,
  &__coating-items {
    display: flex;
    flex-direction: column;
  }

  &__style-item,
  &__coating-item {
    margin-bottom: 12px;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-1px);
    }

    label {
      margin-left: 5px;
      cursor: pointer;
    }

    input {
      cursor: pointer;
      transform: translateY(1px);

      &:checked + label {
        color: $title;
        font-weight: bold;
      }
    }
  }

  &__decor-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__decor-item-lable {
    color: #8f8d8d;
    font-weight: 600;
    font-size: 14px;
    padding: 0 16px;
    margin-top: 14px;
    margin-right: 16px;
    display: inline-block;
    border: 1px solid rgba($color: #455657, $alpha: 0.5);
    border-radius: 14px;
    cursor: pointer;

    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__decor-item-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;

    &:checked + label {
      background-color: #f8f095;
      border: 1px solid rgba($color: #f8f095, $alpha: 1);
      color: $title;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__buttons {
    display: flex;

    margin-top: 50px;

    button {
      padding: 4px 12px;
      border-radius: 26px;
      margin: 0 13px 0 0;
      min-width: 135px;
    }
  }

  &__social {
    display: flex;
  }

  &__social-item {
    width: 40px;
    margin-right: 22px;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }
  &__social-icon {
    padding: 8px;
  }
}
