.blog {
  &__comments {
    margin-bottom: 40px;
    min-height: 200px;
  }

  &__nocomments {
    color: #8f8d8d;
    margin-bottom: 30px;
  }

  &__comments-item {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
    position: relative;
  }

  &__comments-delete {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: absolute;
    top: 2px;
    right: 0;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__comments-delete--active {
    opacity: 1;
  }

  &__comments-edit {
    right: 30px;
  }

  &__comments-title {
    color: $title;
    @extend %title-font;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__comments-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__comments-name {
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__comments-date {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #a1a1a1;
  }
}
