.blog {
  &__comments {
    margin-bottom: 40px;
  }

  &__nocomments {
    color: #8f8d8d;
    margin-bottom: 30px;
  }

  &__comments-item {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
    position: relative;
  }
  &__comments-edit,
  &__comments-delete {
    width: 24px;
    height: 24px;
    opacity: 0.4;
    position: absolute;
    top: 2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__comments-delete--active {
    opacity: 1;
  }

  &__comments-confirm {
    width: 250px;
    border: solid 2px $title;
    border-radius: 18px;
    position: absolute;
    top: 30px;
    right: -115px;
    padding: 12px 0 4px;
    text-align: center;
    z-index: 3;
    background-color: white;

    button {
      margin: 0;
      min-width: 130px;
      padding: 4px 0;
      transform: scale(0.8);

      &:hover {
        transform: scale(0.83);
      }
    }
  }
  &__comments-confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__comments-confirm-title {
    color: $title;
  }

  &__comments-delete {
    right: 0;
  }

  &__comments-edit {
    right: 30px;
  }

  &__comments-title {
    color: $title;
    @extend %title-font;
    line-height: 31px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__comments-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 13px;
  }

  &__comments-name {
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }

  &__comments-date {
    margin-top: -3px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #a1a1a1;
  }
}
