$img-width: 730px;
$img-height: 415px;

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;

  &__img {
    max-width: $img-width;
    min-width: $img-width;
    height: $img-height;

    transition: all 0.5s ease-in-out;
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    padding: $img-height / 2 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.65);

      img {
        background-color: rgba($color: #ffffff, $alpha: 0);
      }
    }

    img {
      padding: 9px 12px;
      border-radius: 50%;
      background-color: rgba($color: #ffffff, $alpha: 0.65);
    }
  }

  &__arrow-left {
    left: 0px;
  }

  &__arrow-right {
    right: 0px;
  }

  &__count {
    position: absolute;
    bottom: 0;
    right: 7px;
    color: black;
    user-select: none;
  }
}
