.partners {
  margin-top: 100px;
  padding: 16px 0 100px;

  &__items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
  }
  &__item {
    margin: 0 auto;
    max-height: 320px;
  }
}
