.works-path {
  padding-bottom: 120px;

  &__title {
    text-align: center;
    color: $title;
    @extend %title-font;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }

  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba($color: $title, $alpha: 0.7);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba($color: $title, $alpha: 0.7);
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 250px;
    height: 100%;
  }

  &__item--production {
    margin-left: 317px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($color: $title, $alpha: 0.7);
    }
  }

  &__item--consultation,
  &__item--production {
    padding-bottom: 38px;
  }

  &__item--measuring {
    padding-top: 38px;
    margin-left: 305px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background-color: rgba($color: $title, $alpha: 0.7);
    }
  }

  &__item-title {
    margin-left: 13px;
    color: $title;
    @extend %title-font;
  }

  &__item-text {
    margin-top: 13px;
  }
}
