@import "vars";
@import "reset";
@import "global";
@import "./components/all";
@import "./pages/all";

.textarea {
  padding: 14px 17px;
  margin-bottom: 13px;
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid rgba($title, $alpha: 0.7);
  width: 100%;
  min-height: 125px;
  resize: none;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #a1a1a1;
  }
}
